.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 680px;
  height: fit-content;
  padding: 30px;
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  height: 100%;
  margin: auto;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 0;
}

.radioTitle {
  padding: 12px;
  color: #77808c;
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btnsGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px 0;
}

.markdown {
  max-width: 618px;

  p {
    margin: 0 0 10px;
  }

  img {
    max-width: 100%
  }
}
