.form-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 680px;
  height: auto;
  background-color: #B8C5D6;
  border: solid 3px #d30c7b;
  border-radius: 5px;
}
